<h1>posts</h1>
<h6>{{#link-to 'new-post'}}New Post{{/link-to}}</h6>
<div class="col-md-4">
  <ul>
    {{#each item in model}}
      <li>{{#link-to 'post' item}}{{item.title}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

<div class="col-md-8">
    {{outlet}}
</div>
